@import url('https://fonts.googleapis.com/css?family=Liu+Jian+Mao+Cao|Roboto:400,700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
}

.bg-green {
  background: forestgreen;
}
.bg-orange {
  background: chocolate;
}
.bg-pink {
  background: lightpink;
}
.bg-lblue {
  background: lightseagreen;
}
.bg-magenta {
  background: magenta;
}
.bg-cream {
  background: mintcream;
}
.bg-slateblue {
  background: slateblue;
}

.order-1 {
  order: 1;
}
.order-2 {
  order: 2;
}
.text-c {
  text-align: center;
}
.text-l {
  text-align: left;
}
.text-r {
  text-align: right;
}
.mtb-10 {
  margin: 10px 0;
}
.mtb-5 {
  margin: 5px 0;
}
.fcc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.frc {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.title {
  font-family: 'Liu Jian Mao Cao', cursive, sans-serif;
  font-size: calc(0.75rem + 3.4vw);
  color: #ffffff;
}
.sub-title {
  font-family: 'Roboto', cursive, sans-serif;
  font-size: calc(0.75rem + 2.3vw);
  font-weight: bold;
  color: #ffffff;
}
.frase {
  font-family: 'Liu Jian Mao Cao', cursive, sans-serif;
  font-size: calc(0.75rem + 1vw);
  color: #ffffff;
}
.text {
  font-size: calc(0.70rem + .40vw);
  color: #ffffff;
}
.transparent {
  background: rgb(0,0,0, 0);
}
.sb {
  justify-content: space-between;
}

textarea:focus, input:focus, select:focus, button:focus {
  border-color: none !important;
  outline: 0;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}
button {
  padding: 10px 30px;
  color: #005eff;
  background: #000000;
  border-radius: 2px;
  border: none;
}
button:hover {
  background: #141414;
  cursor: pointer;
}
body {
  max-width: 100vw;
  min-height: 100%;
  background: #ffffff;
}
header {
  height: 100vh;
  background: url('../../assets/img/nebulosa.jpg') no-repeat;
  background-position: center;
  background-size: cover;
  justify-content: center !important;
}
header h1 {
  margin-bottom: 20px;
}
nav {
  margin-top: 15px;
  width: 98%;
  max-width: 1000px;
  height: 60px;
  box-shadow: 0 0 5px #7e7e7e36;
  background: linear-gradient(180deg, #0000005f, #00000042, #00000000);
}
nav .item-menu a {
  padding: 15px 8px;
  color: #c6c6c6;
}
nav .item-menu a:hover {
  color: #e2e2e2;
  border-bottom: 3px solid #0009af;
}
main {
  min-height: 100vh;
  background: #1a1a1a;
}
.box-translucid {
  width: 98%;
  max-width: 1000px;
  min-height: 400px;
  max-height: 98vh;
  padding: 5px 10px;
  background: linear-gradient(180deg, #00000000,#161616d3,#000000);
  box-shadow: 0 0 5px #7e7e7e7f;
}
section, article {
  width: 100%;
  max-width: 100vw;
}
.box-about {
  margin-bottom: 15px;
  justify-content: space-around!important;
}
.box-avatar {
  width: 100%;
  max-width: 450px;
}
.pre-about {
  width: 100%;
  max-width: 450px;
  /* padding: 10px; */
}
.box-about .init-desc {
  width: 100%;
  max-width: 700px;
  margin-top: 10px;
  color: #b5b5b5;
}
.box-about button {
  padding: 5px;
  background: #161616;
  color: #005eff;
  box-shadow: 0 0 5px #7e7e7e7f;
}
.box-about button:hover {
  background: #1b1b1b;
}
.avatar {
  width: 100%;
  max-width: 140px;
}
.box-about ul {
  width: 100%;
  max-width: 180px;
}

.avatar img {
  max-width: 130px;
  max-height: 130px;
  border-radius: 50%;
}
.box-translucid ul li a img {
  width: 28px;
  height: 28px;
  margin: 3px;
  border-radius: 0;
}
.rocket {
  width: 100%;
  max-width: 100vw;
  height: 100vh;
  background: url('../../assets/img/teclado.jpg') no-repeat;
  background-size: cover;
  background-position: center;
}

/* -------------- */

.hexagon {
  position: relative;
  width: 60px; 
  height: 34.64px;
  margin: 17.32px 0;
  border-left: solid 0px #333333;
  border-right: solid 0px #333333;
}

.hexagon:before,
.hexagon:after {
  content: "";
  position: absolute;
  z-index: 1;
  width: 42.43px;
  height: 42.43px;
  -webkit-transform: scaleY(0.5774) rotate(-45deg);
  -ms-transform: scaleY(0.5774) rotate(-45deg);
  transform: scaleY(0.5774) rotate(-45deg);
  background-color: inherit;
  left: 8.7868px;
}

.hexagon:before {
  top: -21.2132px;
  border-top: solid 0.0000px #333333;
  border-right: solid 0.0000px #333333;
}

.hexagon:after {
  bottom: -21.2132px;
  border-bottom: solid 0.0000px #333333;
  border-left: solid 0.0000px #333333;
}

.hexagon figure {
  width: 100%;
  height: 100%;
  z-index: 2;
  background: inherit;
}

/* -------------- */

.cards-skill .card {
  margin: 39px 1px -55px 1px;
}
.cards-skill {
  min-width: 100%;
  margin-top: -25px;
}
.cards-skill .card img {
  width: 30px;
  height: 30px;
}
.desc-skills {
  width: 95%;
  max-height: 98vh;
  max-width: 1000px;
  margin: 0 auto;
  padding: 10px;
  background: linear-gradient(180deg, #00000000,#161616e8,#000000);
  box-shadow: 0 0 5px #7e7e7e7f;
}
.desc-skills .box-fcc {
  width: 100%;
  text-align: left;
  margin-top: 50px;
  padding: 10px;
  color: #868686;
}
.cwhite {
  color: #ffffff;
}
.portifolio {
  justify-content: flex-start!important;
  min-height: 100vh;
  background: url('../../assets/img/landscape.jpg') no-repeat;
  background-size: cover;
  background-position: center;
  padding: 20px 0;
}
.box-portifolio {
  width: 100%;
  padding: 10px 5px;
}
.box-portifolio img {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  background: #0c0c0c7b;
}
.box-portifolio p {
  width: 100%;
  max-width: 500px;
  padding: 10px;
}
.cards-portifolio .card {
  margin: 0 0 20px 0;
  max-width: 300px;
  max-height: 380px;
  background: #ff000000;
}
.cards-portifolio .card figure img {
  max-width: 100%;
  max-height: 100%;
  box-shadow: 1px 1px 10px #1a1a1a;
}
.cards-portifolio .card article {
  bottom: 0;
  padding: 5px;
  background: #0c0c0ca8;
}
.cards-portifolio .card article .title {
  font-size: calc(0.75rem + 1.9vw);
}
.cards-portifolio .card article button {
  width: 30px;
  height: 30px;
  margin-left: 10px;
}
.frase-inspired {
  padding: 40px 50px;
}
.frase-inspired .box-frase {
  border-style: dashed;
  border-color: #af11113d;
  background: #1a1a1aa7;
  padding: 20px;
}

footer {
  width: 100%;
  max-width: 500;
  padding: 20px 10px;
  background: #0c0c0c;
}
.swiper-container {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 30px;
  cursor: grab;
}
.swiper-container:active {
  cursor: grabbing;
}
.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;
}  

.contact {
  padding: 0;
  justify-content: space-around;
}
.box-map {
  width: 100%;
  max-width: 500px;
}
.box-map iframe {
  width: 100%;
  height: 345px;
  border: none;
}
.box-contact {
  max-width: 60vw;
  padding: 30px 10px;
  text-align: center;
}
.box-contact img {
  width: 30px;
  height: 30px;
  margin: 20px 8px;
}
.box-contact button {
  padding: 0 5px;
}